.navbar {
  padding: 2rem;
  color: white;
  background-color: #050816;
}

.navbar-collapse {
  align-items: center;

  justify-content: space-between;  
  
}

/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
  color: white;
  background-color: #050816;
}

.seccion-clara {
  color: white;
  background-color: #050816;
  
}

.seccion-titulo {
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: white;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: white;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal p {
  font-size: 1rem;
  width: 60%;
  color: white;
}

/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */

.experiencia {
  padding:10px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}

.experiencia i {
  font-size: 2.5rem;
  color: white;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
  padding: 50px;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: rgb(255, 255, 255);
  font-size: 60px;
  margin: 10px;
}

/* Articulos */

.articulos {
  min-height: 500px;
  padding: 30px;
}

.articulos .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}

.articulos .card-header {
  font-weight: bold;
}


/* Pie de pagina (footer) */

footer {
  min-height: 500px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(255, 255, 255);
}

.iconos-redes-sociales a:hover i {
  color: rgb(255, 255, 255);
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}


@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .experiencia{
    margin-top: 100%;
    margin-bottom: 0%;
  }
}
@media screen and (max-width: 780px) {
  .proyectos-recientes{
    margin-bottom: 80%;
  }
}


@media screen and (max-width: 380px) {
  .proyectos-recientes{
    margin-top: 30%;
    margin-bottom: 50%;
  }
  .formacion{
    margin-top: 90%;
    padding-top: 50px;
  }
}
@media screen and (max-width: 500px) {
  .experiencia{
    margin-bottom: 140%;
  }
  .proyectos-recientes{
    margin-bottom: 60%;
  }
  .formacion{
    margin-top: 50%;
  }
}

@media screen and (max-width: 780px) {
  .proyectos-recientes{
    padding-top: 30%;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}